<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:60px;" class="padding-0px-15px poppins bg-blue" fxLayoutAlign="space-between center" [fxShow]="true"><mat-icon style="font-size: xx-large" class="color-w" routerLink="/logged_in_landing/home">arrow_back</mat-icon>
        <h3 class="no-margin color-w">
          Buy Prepaid Mobile</h3><mat-icon class="color-w">search</mat-icon>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="box-shadow-grey padding-0px-15px bg-white white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/buy_prepaid">
        <p class="poppins">
          Add beneficiary</p><mat-icon class="color-b">add_circle</mat-icon>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <h3 class="margin-t-b-16px poppins no-margin">
            All</h3>
          <div fxLayout="row wrap" style="height:60px;" class="padding-0px-15px bg-white white-bg" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/buy_airtime">
            <div fxLayout="row wrap" class="poppins" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
              <div fxLayout="column wrap" class="round square-30px bg-n-v padding-left" fxLayoutAlign="center center" [fxShow]="true">
                <div class="color-w">
                  A</div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Angel</p>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-b">chevron_right</mat-icon></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>