<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:60px;" class="padding-0px-15px bg-blue" fxLayoutAlign="space-between center" [fxShow]="true"><mat-icon style="font-size: xx-large;" class="color-w" routerLink="/logged_in_landing/home">arrow_back</mat-icon>
        <h3 class="poppins color-w">
          Buy electricity</h3><mat-icon class="color-w">search</mat-icon>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/logged_in_landing/add_electricity_ben">
        <p class="poppins">
          Add beneficiary</p><mat-icon class="color-b">add_circle</mat-icon>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <h3 class="padding-0px-15px poppins margin-t-b-16px no-margin padding-left">
            All</h3>
          <div fxLayout="row wrap" class="bg-white bg-w" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="row wrap" class="padding-0px-15px" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
              <div fxLayout="column wrap" class="round square-30px bg-n-v padding-left" fxLayoutAlign="center center" [fxShow]="true">
                <div class="color-w">
                  H</div>
              </div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  Home</p>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="padding-right:10px;" class="color-b">chevron_right</mat-icon></div>
          </div>
          <div class="padding-0px-15px">
            <hr>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>