<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" class="bg-blue height-50px" fxLayoutAlign="space-between center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px;" class="color-w">arrow_back</mat-icon>
        <h3 class="color-w">
          Choose Bank</h3><mat-icon class="color-w">search</mat-icon>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
        <p class="padding-left">
          Capitec Bank</p>
      </div>
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
        <p class="padding-left">
          ABSA Bank</p>
      </div>
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
        <p class="padding-left">
          First National Bank</p>
      </div>
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
        <p class="padding-left">
          NedBank</p>
      </div>
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="padding-0px-15px bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
        <p class="padding-left">
          Standard Bank</p>
      </div>
    </div>
  </div>
</div>