<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="standard-width poppins" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="border-btm-cyan-b z-index fixed-width fixed height-50px bg-blue" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-w">arrow_back</mat-icon></div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3 class="color-w">
          Pay Beneficiary</h3>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-w">more_vert</mat-icon></div>
    </div>
    <div fxLayout="column wrap" style="height:90px;" class="margin-t-50px bg-blue text-center" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3 style="margin-bottom:10px;" class="no-margin color-w m-b-0 whi">
          Nicholas</h3>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="color-w no-margin">
          0812345678</div>
      </div>
    </div><mat-tab-group mat-align-tabs="start" mat-stretch-tabs><mat-tab label="Payment">
        <div fxLayout="column wrap" class="poppins" fxLayoutAlign="start stretch" [fxShow]="true">
          <h3 style="margin-bottom:10px;" class="padding-0px-15px">
            From</h3>
          <div fxLayout="row wrap" style="height: 60px;border-bottom:1px solid lightgrey;" class="bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
            <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/transact.PNG" class="padding-left"></div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                    <h4 class="no-margin">
                      Savings</h4>
                  </div>
                  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                    <p class="no-margin">
                      <small>Available balance</small>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <p>
                    R20.123</p>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-b">more_vert</mat-icon></div>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" style="margin-top:15px;" fxLayoutAlign="start stretch" [fxShow]="true">
            <form>
              <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-form-field class="padding-left" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput placeholder="Amount " [required]="false">

                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-form-field class="padding-left" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput type="number" placeholder="Verified accountholder" value="Miss Angel" [required]="false">

                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
                  <mat-form-field class="padding-left" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                    <input matInput type="number" placeholder="Payment type" value="Just once" [required]="false">

                  </mat-form-field>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
                    <mat-form-field class="padding-left" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput type="number" placeholder="Beneficiary reference" value="L Mathoto" [required]="false">

                    </mat-form-field>
                  </div>
                  <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
                    <mat-form-field class="padding-left" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
                      <input matInput type="number" placeholder="My statement description" value="Nicholas" [required]="false">

                    </mat-form-field>
                  </div>
                </div>
                <h3 style="margin-bottom:10px;" class="padding-0px-15px">
                  Payment Notification</h3>
                <div fxLayout="column wrap" class="margin-b-10px get-started-btn padding-0px-15px" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="color-w">Pay</button></div>
              </div>
            </form>
          </div>
        </div>
      </mat-tab><mat-tab label="History"></mat-tab></mat-tab-group>
  </div>
</div>