<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="bg-white" fxLayoutAlign="space-between center" [fxShow]="true" routerLink="/logged_in_landing/add_electricity_ben">
        <p class="padding-left">
          Add beneficiary</p><mat-icon style="padding-right:10px;" class="color-b">add_circle</mat-icon>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
          <h3 style="margin-bottom: 10px;" class="m-b-0 padding-left">
            All</h3>
          <div fxLayout="row wrap" style="height:60px;margin-bottom:1em;" class="bg-white" fxLayoutAlign="space-between center" [fxShow]="true" *ngFor="let ben of page.benArray" (click)="pay( ben)">
            <div fxLayout="row wrap" fxLayoutGap="1em" fxLayoutAlign="start center" [fxShow]="true">
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-b">home</mat-icon></div>
              <div fxLayout="row wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  {{ben.benName}}
                </p>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon style="padding-right:10px;" class="color-b">chevron_right</mat-icon></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>