<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:60px;" class="color-w bg-blue" fxLayoutGap="30%" fxLayoutAlign="start center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px;" class="white">arrow_back</mat-icon>
        <h3 class="white">
          Transfer Money</h3>
      </div>
    </div>
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3 style="margin-bottom:10px;" class="padding-left">
          From</h3>
        <div fxLayout="row wrap" style="height: 60px;border-bottom:1px solid lightgrey;" class="bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/transact.PNG" class="padding-left"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <h4 class="no-margin">
                    Savings</h4>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <p class="no-margin">
                    <small>Available balance</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  R20.123</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-b">more_vert</mat-icon></div>
            </div>
          </div>
        </div>
      </div>
      <div fxLayout="column wrap" style="    margin-bottom: 20px;" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
        <h3 style="margin-bottom:10px;" class="padding-left">
          To</h3>
        <div fxLayout="row wrap" style="height: 60px;border-bottom:1px solid lightgrey;" class="bg-white" fxLayoutAlign="space-between center" [fxShow]="true">
          <div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutGap=".5em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/saving_plan.jpg" class="padding-left"></div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <h4 class="no-margin">
                    Spaghetti</h4>
                </div>
                <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                  <p class="no-margin">
                    <small>Available balance</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
            <div fxLayout="row wrap" fxLayoutAlign="start center" [fxShow]="true">
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
                <p>
                  R4.59</p>
              </div>
              <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="color-b">more_vert</mat-icon></div>
            </div>
          </div>
        </div>
      </div>
      <form>
        <div fxLayout="column wrap" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="full-width white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field class="full-width bg-white" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Amount" [required]="false">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="Transfer type" value="Just once" [required]="false">
              <mat-icon matSuffix>more_vert</mat-icon>
            </mat-form-field>
          </div>
          <div fxLayout="column wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="start stretch" [fxShow]="true">
            <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
              <input matInput placeholder="My statement description" [required]="false">

            </mat-form-field>
          </div>
          <div fxLayout="column wrap" class="padding-10" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="color-w bg-blue full-width">Transfer</button></div>
        </div>
      </form>
    </div>
  </div>
</div>