<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" class="margin-b-16px" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true" *ngFor="let cards of page.cardsInfor, let indx = index">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <h3 *ngIf="cards.card_Container.title" class="margin-b-10px no-margin poppins">
        {{cards.card_Container.title}}
      </h3><mat-card *ngFor="let card of cards.card_Container.cards" class="padding-left-25px align-content-center long_card1 box-shadow-grey">
        <mat-card-content align="left" class="align-content-center">
          <div fxLayout="row wrap" class="padding-0px-15px" fxLayoutGap="0.8em" fxLayoutAlign="space-between stretch" [fxShow]="true">
            <div fxLayout="row wrap" class="width-80" fxLayoutGap="1em" fxLayoutAlign="start stretch" [fxShow]="true">
              <div fxLayout="column wrap" fxFlex="5" fxLayoutAlign="center center" [fxShow]="true" *ngIf="card.image"><img [src]="card.image" class="small-icon-card"></div>
              <div fxLayout="column wrap" fxFlex="90" fxLayoutAlign="center stretch" [fxShow]="true">
                <p class="no-margin">
                  {{card.name}}
                </p><small *ngIf="card.date" class="poppins">
                  {{card.date | date}}</small>
              </div>
            </div>
            <div fxLayout="column wrap" fxLayoutAlign="center stretch" [fxShow]="true"><mat-icon class="color-b">chevron_right</mat-icon></div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>