<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="z-index over" fxLayoutAlign="center center" [fxShow]="true" *ngIf="page.showLoader">
    <div>
      <span class="loader"></span>
    </div>
  </div>
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true"><img [src]="page.uploadedImage" #image hidden class="square-50px">
    <div fxLayout="row wrap" class="border-btm-cyan-b bg-blue height-50px" fxLayoutAlign="start center" [fxShow]="true"><mat-icon class="color-w">arrow_back</mat-icon>
      <div fxLayout="column wrap" class="color-w poppins" fxFlex="93" fxLayoutAlign="start center" [fxShow]="true">
        <p class="poppins no-margin">
          Step 1 of 8</p>
      </div>
    </div>
    <div fxLayout="column wrap" class="height-50px bg-blue" fxLayoutAlign="center center" [fxShow]="true">
      <div class="poppins color-w">
        <small class="poppins">Verify your identity</small>
      </div>
    </div>
    <div fxLayout="column wrap" class="bg-white" fxLayoutGap="0.5em" fxLayoutAlign="center center" [fxShow]="true"><img imgSrc="./Web/Images/id-pic.png" style="width: 130px; height: 140px">
      <div>
        First, we&apos;ll check that it&apos;s really you</div>
    </div>
    <form #form="ngForm" style="margin-top: 10px">
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.clientDetails.fullName" name="fullName" [required]="false">
          <mat-label>Full name</mat-label> <mat-icon matSuffix>infor</mat-icon>
        </mat-form-field><small class="poppins padding-0_75em">
          First and last name as they appear to your ID</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.clientDetails.idNum" name="idNum" [required]="false">
          <mat-label>SA ID number</mat-label> <mat-icon matSuffix>infor</mat-icon>
        </mat-form-field><small class="poppins padding-0_75em">
          You must be 16 years or older</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.clientDetails.contacts" name="contacts" placeholder="0628107203" [required]="false">
          <mat-label>Cellphone number</mat-label> <mat-icon matSuffix>infor</mat-icon>
        </mat-form-field><small class="poppins padding-0_75em">
          We will verify this phone number by SMS</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.clientDetails.email" name="email" [required]="false">
          <mat-label>Email address</mat-label> <mat-icon matSuffix>infor</mat-icon>
        </mat-form-field><small class="poppins padding-0_75em">
          We will verify this email address by email</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.clientDetails.remotePin" name="pin" [required]="false">
          <mat-label>Pin</mat-label> <mat-icon matSuffix>infor</mat-icon>
        </mat-form-field><small class="poppins padding-0_75em">
          Pin should have atleast 5 characters</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <mat-form-field class="bg-white full-width" [appearance]="&apos;fill&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.clientDetails.confirmRemotePin" name="confirmPin" [required]="false">
          <mat-label>Confirm password</mat-label> <mat-icon matSuffix>infor</mat-icon>
        </mat-form-field><small class="poppins padding-0_75em">
          Confirm password should match with a pin</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="height-50px start-center flex border-blue">
          <input id="file" type="file" class="margin-left-12px" title="Certified ID" (change)="fileUpload($event)" [(ngModel)]="page.clientDetails.ID_doc" name="ID_doc" required>
        </div><small class="poppins padding-0_75em">
          Certified ID document </small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="start-center flex height-50px border-blue">
          <input type="file" id="file1" class="margin-left-12px" title="Proof of residence" (change)="fileUpload1($event)" [(ngModel)]="page.clientDetails.proof_of_res" name="proof_of_res" required>
        </div><small class="poppins padding-0_75em">
          Proof of residence must have your full name</small>
      </div>
      <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
        <div class="start-center flex height-50px border-blue">
          <input type="file" id="file3" class="margin-left-12px" title="Client clear picture" (change)="fileUpload2($event)" [(ngModel)]="page.clientDetails.picture" name="picture" required>
        </div><small class="poppins padding-0_75em">
          Unfiltered client clear picture</small>
      </div>
      <div fxLayout="column wrap" class="padding-0px-15px margin-top-16px" fxLayoutAlign="start stretch" [fxShow]="true"><button mat-raised-button class="bg-blue color-w get-started-btn" (click)="submit(form)">Continue</button></div>
      <div class="text-center poppins no-margin">
        Your personal information is safe with us</div>
    </form>
  </div>
</div>