<div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
      <div fxLayout="row wrap" style="height:60px; background-color: #0f9ddf" class="blue-bg" fxLayoutAlign="space-between center" [fxShow]="true">
        <div fxLayout="row wrap" fxFlex="60" fxLayoutAlign="end stretch" [fxShow]="true">
          <h3 style="color: white" class="white">
            Messages</h3>
        </div>
        <div fxLayout="row wrap" style="padding-right:13px;" fxLayoutAlign="space-around center" [fxShow]="true"><mat-icon style="font-size: xx-large; padding-left: 6px; color: white" class="white">settings</mat-icon></div>
      </div>
    </div><mat-tab-group mat-align-tabs="center" mat-stretch-tabs><mat-tab label="Transactions">
        <div fxLayout="column wrap" class="padding-0px-15px" fxLayoutAlign="start stretch" [fxShow]="true">
          <div fxLayout="row wrap" class="no-margin" fxLayoutAlign="start stretch" [fxShow]="true">
            <h3 class="padding-left">
              May 2024</h3>
          </div>
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" *ngFor="let scan of page.scanned">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p class="padding-left">
                Capitec: Payment -R{{scan.amount}} from Savings Ref; {{scan.transType}}<br> Avail R{{page.user.available_balance}}; {{scan.transDate | date}}.info: 082 123 1234</p>
            </div>
          </div>
          <div fxLayout="row wrap" style="border-bottom:1px solid lightgrey;" class="white-bg" fxLayoutAlign="space-between center" [fxShow]="true" *ngFor="let electricity of page.electricity_array">
            <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true">
              <p class="padding-left">
                Capitec: Payment -R{{electricity.amount}} from Savings Ref; {{electricity.transType}}<br> Avail R{{page.user.available_balance}}; {{electricity.transDate | date}}.info: 082 123 1234</p>
            </div>
          </div>
        </div>
      </mat-tab><mat-tab label="Inbox">
        <div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true"><img imgSrc="/Web/Images/messages.PNG" class="full-width"></div>
      </mat-tab></mat-tab-group>
  </div>
</div>