<div fxLayout="column wrap" fxLayoutAlign="start center" [fxShow]="true">
  <div fxLayout="column wrap" class="standard-width" fxLayoutAlign="start stretch" [fxShow]="true">
    <div fxLayout="row wrap" class="bg-n-v fixed-width fixed z-index padding-0px-15px height-50px" fxLayoutAlign="space-between center" [fxShow]="true">
      <div fxLayout="column wrap" class="color-w" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true"><mat-icon class="pointer" routerLink="/logged_in_landing/home">arrow_back</mat-icon></div>
      <div fxLayout="column wrap" fxFlex="70" fxLayoutAlign="start center" [fxShow]="true">
        <h4 class="no-margin color-w poppins">
          Savings Plans</h4>
      </div>
      <div fxLayout="column wrap" class="color-w" fxFlex="15" fxLayoutAlign="start stretch" [fxShow]="true">
        <div fxLayout="row wrap" fxLayoutAlign="end stretch" [fxShow]="true"><mat-icon class="color-w">search</mat-icon><mat-icon>more_vert</mat-icon></div>
      </div>
    </div>
  </div>
</div>